.gitignore
compareROC/
images/
labels/
evaluation/x64
evaluation/JDA
evaluation/tendy*.txt
evaluation/*.ilk
evaluation/*.pdb
ActivePerl_5.16.2.3010812913.msi
MTCNN/20170528-172125
originalPics
labels
Annotations
originalPics.zip
fddb.zip
.vs/